{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="posting-guidelines">
        <h2>posting guidelines</h2>
        <p>
            <li>treat all users with kindness and respect</li>
            <li>zero tolerance for hate speech</li>
            <li>post with honesty</li>
            <li>most importantly... remember to be kind to yourself</li>
        </p>
        <a href="{% url 'guidelines' %}" class="primary-button">read more</a>
    </section>
    {% for post in posts %}
        <div class="post-container">
            <div class="post-preview" id="preview-{{ post.id }}" onclick="togglePost('{{ post.id }}')">
                <strong> {{ post.deceased_name}} </strong> - {{post.preview}}
                <br><small> Posted by {{ post.poster_name}} </small>
            </div>
            <div class="post-body" id="body-{{ post.id }}" style="display: none;" onclick="togglePost('{{ post.id }}')">
                <p><strong>Background Story:</strong><br>{{ post.background_story }}</p>
                <h4>What I wish I could say to {{ post.deceased_name }}:</h4>
                <p><strong>Dear {{ post.deceased_name }},</strong></p>
                <p>{{ post.message_to_deceased }}</p>
                <p><strong>Love,</strong><br>{{ post.author.first_name|default:post.author.username }}</p>
            </div>
            {% if user == post.author %}
                <form method="post" action="{% url 'delete_post' post.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="delete-button">delete</button>
                </form>
            {% endif %}
            
            <hr>
        </div>

    {% empty %}
        <p>No posts yet. Be the first to share.</p>
    {% endfor %}

    <div class="button-container">
        <a href="{% url 'create_post' %}" class="button-link create-post primary-button">create new post</a>
    </div>

    <br>
    <!-- about me section -->
    <button onclick="toggleSection('about-me')">about me</button>
    <div id="about-me" class="about-section" style="display: none;">
        <h2>about me</h2>
        <p>
            add your own ABOUT ME here 
        </p>      
    </div>
    <hr>
    <button onclick="toggleSection('about-website')">about this website</button>
    <div id="about-website" class="about-section" style="display: none;">
        <h2>about this website</h2>
        <p>
            write your ABOUT THIS WEBSITE section here 
        </p>
    </div>

{% endblock %}