{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="posting-guidelines">
        <h2>posting guidelines</h2>
        <p>
            <li>treat all users with kindness and respect</li>
            <li>zero tolerance for hate speech</li>
            <li>post with honesty</li>
            <li>most importantly... remember to be kind to yourself</li>
        </p>
        <a href="{% url 'guidelines' %}" class="read-more-button">read more</a>
    </section>
    {% for post in posts %}
        <div class="post-container">
            <div class="post-preview" id="preview-{{ post.id }}" onclick="togglePost('{{ post.id }}')">
                <strong> {{ post.deceased_name}} </strong> - {{post.preview}}
                <br><small> Posted by {{ post.poster_name}} </small>
            </div>
            <div class="post-body" id="body-{{ post.id }}" style="display: none;" onclick="togglePost('{{ post.id }}')">
                <p><strong>Background Story:</strong><br>{{ post.background_story }}</p>
                <h4>What I wish I could say to {{ post.deceased_name }}:</h4>
                <p><strong>Dear {{ post.deceased_name }},</strong></p>
                <p>{{ post.message_to_deceased }}</p>
                <p><strong>Love,</strong><br>{{ post.author.first_name|default:post.author.username }}</p>
            </div>
            {% if user == post.author %}
                <form method="post" action="{% url 'delete_post' post.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="delete-button">delete</button>
                </form>
            {% endif %}
            
            <hr>
        </div>

    {% empty %}
        <p>No posts yet. Be the first to share.</p>
    {% endfor %}

    <div class="button-container">
        <a href="{% url 'create_post' %}" class="button-link create-post">create new post</a>
    </div>

    <br>
    <!-- about me section -->
    <button onclick="toggleSection('about-me')">about me</button>
    <div id="about-me" class="about-section" style="display: none;">
        <h2>about me</h2>
        <p>
            My name is Joe. Born in the sun of San Diego and raised in the fog of San Francisco, I currently live in the
            heat of the Texan sun. I am social worker who found himself immersed in the burgeoning tech scene of 
            Silicon Valley. I eventually learned to code and decided to start building applications that could possibly 
            help individuals with mental health struggles. As someone who has struggled with clinical depression since 
            age 5 and contended with a myriad of other diagnoses (Anxiety, PTSD, and ADHD), I strive to build products 
            imbued with empathy, kindness and acceptance.  
        </p>      
    </div>
    <hr>
    <button onclick="toggleSection('about-website')">about this website</button>
    <div id="about-website" class="about-section" style="display: none;">
        <h2>about this website</h2>
        <p>
            At the end of 2022, my friend Moriah passed away from suicide. We were not particularly close but her 
            death had an incredible impact on me. After I moved cities, we lost touch. There were times I thought 
            about texting her. It was usually after some intense workout because we had been workout buddies. But I never did. 
        </p>
        <br>
        <p>
            And I have never stopped wondering if I there was something I could've to prevent her passing. Maybe if she 
            had known she had my support, the outcome would have been different. What could I have said? What could I 
            have told her?             
        </p>
        <br>
        <p>
            My hope is that someone might be able to find answers to these questions in this forum. I built this space so 
            that those in mourning could see that there are others experiencing a similar pain.
        </p>
        <br>
        <p>
            If you are here because you have lost someone, you have my sincere condolences. I hope this space helps in your 
            grieving process and that we can all heal together.
        </p>
    </div>

{% endblock %}